Python - String Assignment

Question 1- How can we store a quote (') as a string in a varible

Answer 1- To store quote(') as a string in a varible you can use double quotes (") to enclodse the string For exanple

In [3]:
a= "he said, i love programing"

In this example,the quote with in the string in surrounded by double quotes so the string will be stored correctely in the variable

Question 2- Refer the below variable:
x='a'
Here,is a character type or string type varible? Support your answer with an explanation

Answer 2- In python, both a single character and a string of character are represented using the same type of data the string 
Therefore,In the variable x='a' , x is a string varible containing a string character varible It is actually a string of length one
so,In short the varible 'x' is a string type varible containing a single character 'a'

Question 3- Apply the following funcation on this varible welcome to python foundation course 
1-find()
2-count()
3-len()
4-concatenation

Answer 3- Funcation Apply
1- The find() funcation is used to find the index of the fist occurrence of a substring with in a string

In [17]:
a= 'arshan'

In [18]:
a.find('s')

2

2- Count() funcation is used to count the number of occurrence of a substring with in a string 
For example-

In [19]:
a

'arshan'

In [20]:
a.count(a)

1

In [22]:
a.count('h')

1

In this example the count() funcation is used to count the number of occurrences of the substring 'a' in the given "arshan" the function return the count of the occurrence which is 1

3-len() funcation is used to find the length of a string For example

In [23]:
a

'arshan'

In [30]:
len(a)

6

In this example,the len funcation is used to find the length of the given string

4- concatenation string concatenation is the process of combining two or more than two string In python you can use the '+' operation to concatenation string 
For example

In [31]:
p= 'physic'

In [32]:
w= 'wallah'

In [33]:
result = p+ " " + w

In [34]:
print(result)

physic wallah

this is a example two string are concatenated using '+' operator and a space is added between them to get the final result

Question 4- For the varible word =panji@12256 calculate the following 
a- total number of aphabetes in lowercase
b- total number of aphabetes in uppercase 
c- total number of aphabetes in string

Answer 4- Know we calculate the following string 'panaji@12256'

In [36]:
w= 'panaji@12256'

In [37]:
w

'panaji@12256'

In [43]:
w.lower()

'panaji@12256'

In [44]:
w.upper()

'PANAJI@12256'

In [49]:
len(w)

12

Qiestion 5- Write a code to store a numerical value in side a variable then convet it into string

Answer 5- In this ,we fist store the numerical value '79' in the varible 'num' we then use the 'str' funcation to convert the numerical value to a string and store the result in the value of 'num_str' finally we print out the value of 'num'_str' to verify that the conversion was succesful

In [50]:
num='79'

In [53]:
num_str=str(num)

In [54]:
print("num is of type:",type(num), "79:",num)

num is of type: <class 'str'> 79: 79

In [55]:
print("num_str is of type:",type(num_str),"79:",num_str)

num_str is of type: <class 'str'> 79: 79

complete assignment